body {
  background-color: rgb(255, 249, 172);
  font-family: Open Sans, sans-serif;
  font-size: 0.8rem;
}

.container {
display: grid;
grid-gap: 10px;
grid-template-columns: auto auto auto;
grid-template-rows: repeat(4, auto);
}

.box {
background-color: #43a4f3;
color: black;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}

.a {
grid-column: 1 / span 3;
grid-row: 1;
}

.b {
grid-column: 1;
grid-row: 2 / span 3;
max-height: 900px;
overflow-y: scroll;
overflow-x: none;
}

.c {
grid-column: 2;
grid-row: 2;
max-height: 550px;
overflow-x: none;
overflow-y: scroll;
}
.d {
grid-column: 3;
grid-row: 4;
max-height: 100%;
margin: 0;
overflow-x: scroll;
overflow-y: none;
padding: 0;
}

.e {
grid-column: 2;
grid-row: 3 / span 2;
max-height: 450px;
}

.f {
grid-column: 3;
grid-row: 2 / span 2;
max-height: 800px;
margin: 0;
overflow: scroll;
padding: 0;
}

.g {
grid-column: 1;
grid-row: 2 / span 2;
max-height: 900px;
overflow-x: none;
overflow-y: scroll;
background-color: lightblue;
}

.h {
grid-column: 2;
grid-row: 2;
/* max-height: 550px; */
overflow-x: none;
overflow-y: scroll;
}

.i {
grid-column: 2;
grid-row: 3;
/* max-height: 350px; */
overflow-x: none;
overflow-y: scroll;
}

/* loading animation found on https://codepen.io/kumarsidharth/pen/VBBbJW */
@keyframes load {
0%{
    opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
    filter: blur(5px);
    letter-spacing: 3px;
    }
100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
    }
}

.animate {
display:none;
justify-content: center;
align-items: center;
height:100%;
margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
font-family: Helvetica, sans-serif, Arial;
animation: load 1.2s infinite 0s ease-in-out;
animation-direction: alternate;
text-shadow: 0 0 1px white;
}

ul li {
border: 1px solid black;
padding: 3px;
}

li:nth-child(odd) {
background-color: rgb(238, 236, 104);
}
li:nth-child(even) {
background-color: rgb(243, 167, 4);
}

ul {
list-style: none;
margin: 5px;
padding: 5px;
}

img {
width: 250px;
height: 100px;
}

#goButton, #clearButton, #viewChartsButton, #speakButton, #closeButton {
color: white;
background-color: blue;
border-radius: 1rem;
padding: .5rem 1rem;
}

label {
display: flex;
}

#crdts {
margin: 0px 15px;
border: 3px solid rgb(236, 221, 6);
padding: 3px;
border-radius: 2em/5em;
position: relative;
top: -5px;
}

li, button, a {
cursor: pointer;
}

#stockTable {
width: max-content;

}

#stockTable td {
border: 1px solid black;
padding: 5px;
}

#stockCalc td {
border: 1px solid black;
padding: 5px;
}

#financials td {
border: 1px solid black;
}

tr:nth-child(odd) {
background-color: rgb(238, 236, 104);
}
tr:nth-child(even) {
background-color: rgb(243, 167, 4);
}

div.a {
background-color: rgb(0, 38, 255);
color: white;
}

#viewChartsButton {
  position: relative;
  top: -20px;
}

h2 {
color: rgb(8, 6, 117);
}

input:focus {
background-color: rgb(241, 241, 111);
}

div.c div{
border: 2px solid rgb(17, 0, 255);
padding: 5px;
margin: 5px;
}
