body {
    margin: 20px;
    background-color: white;
    font-family: Open Sans, sans-serif;
    font-size: 0.8rem;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  color: #444;
}

.box {
  background-color: #b0d4f1;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.b {
  grid-column: 1 / span 1;
  grid-row: 2 / span 3;
}

.c {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.d {
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
}

.e {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
}

.f {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

/* loading animation found on https://codepen.io/kumarsidharth/pen/VBBbJW */
@keyframes load {
  0%{
      opacity: 0.08;
/*         font-size: 10px; */
/* 				font-weight: 400; */
      filter: blur(5px);
      letter-spacing: 3px;
      }
  100%{
/*         opacity: 1; */
/*         font-size: 12px; */
/* 				font-weight:600; */
/* 				filter: blur(0); */
      }
}

.animate {
display:none;
justify-content: center;
align-items: center;
height:100%;
margin: auto;
/* 	width: 350px; */
/* 	font-size:26px; */
font-family: Helvetica, sans-serif, Arial;
animation: load 1.2s infinite 0s ease-in-out;
animation-direction: alternate;
text-shadow: 0 0 1px white;
}

ul li {
  border: 1px solid black;
  display: flex;
  list-style: none;
  max-height: 100vh;
  margin: 0;
  overflow: auto;
  padding: 0;
}

form ul {
  
}

#goButton #clearButton #viewChartButton {
  color: white;
  background-color: lightblue;
  border-radius: 95%;
}